<section>
  <div id="containerSlider">
    <!-- <div id="slidingImage"> <img src="../../../assets/images/download (1).png" alt="image1"> </div>
      <div id="slidingImage"> <img src="../../../assets/images/download (2).png" alt="image2"> </div>
      <div id="slidingImage"> <img src="../../../assets/images/download (3).png" alt="image3"> </div>
      <div id="slidingImage"> <img src="../../../assets/images/download.png" alt="image4"> </div> -->
    <ngx-slick-carousel
      class="carousel"
      #slickModal="slick-carousel"
      [config]="slideConfig"
    >
      <div ngxSlickItem *ngFor="let slide of slides" class="slide">
        <img src="{{ slide.img }}" alt="" width="100%" />
      </div>
    </ngx-slick-carousel>
  </div>
</section>
