<form autocomplete="on">
  <div class="IiD88i _351hSN">
    <input autocomplete="off" type="text" class="_2IX_2- VJZDxU" value="" /><span class="_36T8XR"></span><label
      class="_1fqY3P"><span>Enter Email/Mobile number</span></label>
  </div>
  <div class="_1Ijv5h">
    By continuing, you agree to Flipkart's
    <a class="_2ARnXM" target="_blank" href="/pages/terms">Terms of Use</a>
    and
    <a class="_2ARnXM" target="_blank" href="/pages/privacypolicy">Privacy Policy</a>.
  </div>
  <div class="button-box">
    <button class="twenty"><span>OTP</span></button>
  </div>
</form>
